# Credentials for accessing BigQuery
bq-service-account.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# jupyter
.ipynb_checkpoints
.ipython/
.jupyter/
.local/

# sublime test/pycharm
.idea/
.DS_Store

# Emacs
*~

# Linux trash directories
.Trash-*/
.Rproj.user

# Project folders
output/
outputs/
data/
notebooks/

# Specific files
data.zip
quarto-1.9.30-linux-amd64.deb

# r history
.Rhistory
.RData
